.container-fluid
  .row
    .col-md-3
      .row
        .col-xs-12
          .thumbnail
            %img.img-rounded{ src: @movie.cover }
            .caption
              %h1= @movie.title
              %strong Rating
              %span.rating= @movie.rating
    .col-md-9
      .row
      .jumbotron
        .lead= @movie.plot
      - if user_signed_in?
        %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
